# Entornos virtuales
venv/
env/
.venv/

# Variables de entorno
.env

# Python
__pycache__/
*.py[cod]
*$py.class

# Django
*.log
db.sqlite3
media/
staticfiles/

# IDEs
.vscode/
.idea/

# Sistema operativo
.DS_Store
Thumbs.db