{% extends "base.html" %}

{% block title %}Recuperar Contraseña - BienestarEnCasa{% endblock %}

{% block body %}
<div class="container">
    <h1>Recuperar Contraseña</h1>
    <p>Ingresa tu correo electrónico para recibir un enlace de restablecimiento.</p>

    <div class="form-container">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="form-actions">
                <button type="submit">Enviar enlace</button>
            </div>
        </form>
    </div>

    <p><a href="{% url 'pagina-login' %}">Volver a Iniciar Sesión</a></p>
</div>
{% endblock %}
